In [2]:
print("Hello World!@#!#!$")
print("test")

Hello World!@#!#!$
test

In [1]:
print("Hello, Python!")
print("Abu")
print('Abu')

Hello, Python!
Abu
Abu

In [4]:
print()

print("Saya sudah sarapan tadi pagi\n dan nanti siang makan lagi")
print("Saya sudah sarapan tadi pagi\t dan nanti siang makan lagi")

Saya sudah sarapan tadi pagi
 dan nanti siang makan lagi
Saya sudah sarapan tadi pagi	 dan nanti siang makan lagi

In [3]:
print("nama saya \"abu\"")

nama saya "abu"

In [6]:
print("\"")

"

In [7]:
print("satu.","dua.","tiga.")

satu. dua. tiga.

In [10]:
print("Nama saya","nabila", end=" ")
print("bila")

Nama saya nabila bila

In [11]:
print("satu","dua","tiga", sep=", ")

satu, dua, tiga

In [12]:
#Clue
print("Programming","Essentials","in")
print("Python")

Programming Essentials in
Python

In [13]:
#Programming***Essentials***in...PythonPython

print("Programming","Essentials","in", sep="***", end="...")
print("Python"*2)

Programming***Essentials***in...PythonPython

In [14]:
#clue

print("    *    "*2)
print("   * *   "*2)
print("  *   *  "*2)
print(" *     * "*2)
print("***   ***"*2)
print("  *   *  "*2)
print("  *   *  "*2)
print("  *****  "*2)

    *        *
   * *      * *
  *   *    *   *
 *     *  *     *
***   ******   ***
  *   *    *   *
  *   *    *   *
  *****    *****

In [15]:
print("    *\n   * *\n  *   *\n *     *\n***   ***\n  *   *\n  *   *\n  *****\n"*2)

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****
    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [16]:
print("2"*2)
print(2*2)

print(type("2"))
print(type(2))

22
4
<class 'str'>
<class 'int'>

In [17]:
print(5, "mempunyai tipe", type(5))
print(.5, "mempunyai tipe", type(.5))

5 mempunyai tipe <class 'int'>
0.5 mempunyai tipe <class 'float'>

In [18]:
print(True)
print(False)

print(4>2)
print(3>4)

True
False
True
False

In [19]:
print()

In [20]:
print('"I\'m"\n""learning""\n"""Python"""')

print("""
"I'm"
""learning""
\"""Python""\"
""")

"I'm"
""learning""
"""Python"""

"I'm"
""learning""
"""Python"""

In [21]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3.)
print(2. ** 3)

8
8.0
8.0
8.0

In [22]:
print(10 / 3)
print(10 // 3)

print(6 / 3.)
print(6 // 3.)

print(-4 + 4)
print(-4. + 8)

3.3333333333333335
3
2.0
2.0
0
4.0

In [23]:
2 + 3 *5

17

In [24]:
print(9 % 6 % 2)
print(9 % 6)
print(3 % 2)

print(2 ** 2 ** 3)
print(2 ** 2)
print(2 ** 8)

1
3
1
256
4
256

In [25]:
print((5 * ((25 % 13)+100) / (2 * 13)) // 2)

10.0

In [26]:
var = 1
print(var)

1

In [27]:
a=2.
b=3.
c=(a**2 + b**2) ** 0.5
print("c = ", c)

c =  3.605551275463989

In [28]:
Darjo = 2
Darno = 5
Waginem = 6

In [29]:
kilometer = 12.25
mil = 7.38

miles_to_kilometers = mil * 1.61
kilometers_to_miles = kilometer / 1.61

print(mil, "1 mil adalah", round(miles_to_kilometers, 2), "kilometer")
print(kilometer, "1 kilometer adalah", round(kilometers_to_miles, 2), "mil")

7.38 1 mil adalah 11.88 kilometer
12.25 1 kilometer adalah 7.61 mil

In [30]:
var = 2
var = 3
print(var)

3

In [31]:
#test
print("Hai...") 
#test1
#test2

Hai...

In [1]:
print("Katakan sesuatu...")
sesuatu = input()
print("mmmmm", sesuatu, " Oke")

Katakan sesuatu...
mmmmm   Oke

In [5]:
angka = float(5)
print("Pangkat duanya adalah ", angka**2)

Pangkat duanya adalah  25.0

In [6]:
print("+" + 10*"-" + "+")
print(("|" + 10*" " + "|\n") * 5, end="")
print("+" + 10*"-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

In [8]:
# Masukkan nilai a dalam float
a = float(6)

# Masukkan nilai b dalam float
b = float(9)

# hitung hasil penambahan
tambah = a + b

# hitung hasil pengurangan
kurang = a - b

# hitung hasil perkalian
kali = a * b

# hitung hasil pembagian
bagi = a / b

print("\nHasil Penjumlahan :", tambah)
print("Hasil Pengurangan :", kurang)
print("Hasil Perkalian   :", kali)
print("Hasil Pembagian   :", bagi)

print("\nYeahhhh")

Hasil Penjumlahan : 15.0
Hasil Pengurangan : -3.0
Hasil Perkalian   : 54.0
Hasil Pembagian   : 0.6666666666666666

Yeahhhh

In [9]:
# Contoh perhitungan ekspresi
import math

# uji dengan x=1 dan x=10
for x in [1, 10]:
    y = math.sin(x) / x**2   # contoh rumus, bisa disesuaikan
    print("x =", x)
    print("y =", y)
    print()

x = 1
y = 0.8414709848078965

x = 10
y = -0.005440211108893697