In [75]:
a=20
print(a)
print(id(a))

20
140731109878808

In [76]:
a=30
print(a)
print(id(a))

30
140731109879128

In [77]:
a=[1,2,3,4]
print(a)
print(type(a))
print(id(a))

[1, 2, 3, 4]
<class 'list'>
2071773096128

In [78]:
a[0]=0
print(a)
print(id(a))

[0, 2, 3, 4]
2071773096128

In [79]:
a = int("200")
print("True", a >= 100)

True True

In [80]:
x = 5 + 2 * 3 / (2 - 3) ** 2
print(x)

11.0

In [81]:
a = 5
b = 6

if a==b:
    print("oke")
    print("berhasil")
    print("Gagal")

In [82]:
a = 5
b = 6

if a==b:
    print("oke")
    print("berhasil")
else:
    print("Gagal")

Gagal

In [83]:
bil = 3
if bil % 2 == 0:
    print("genap")
else:
    print("ganjil")

ganjil

In [84]:
print("Masukan nilai koordinat")
x = 3
y = 5

if x > 0 and y > 0:
    print("Kuadran I")
elif x < 0 and y > 0:
    print("Kuadran II")
elif x < 0 and y < 0:
    print("Kuadran III")
elif x > 0 and y < 0:
    print("Kuadran IV")
else:
    print("Tepat di sumbu")

Masukan nilai koordinat
Kuadran I

In [85]:
num1 = 10
num2 = 25
num3 = 7

if not num1 or not num2 or not num3:
    print("Semua angka harus diisi!")
else:
    num1 = int(num1)
    num2 = int(num2)
    num3 = int(num3)

    largestNum = num1

    if num2 > largestNum:
        largestNum = num2
    if num3 > largestNum:
        largestNum = num3

    print("The largest number is:", largestNum)

The largest number is: 25

In [86]:
plant = "spathiphyllum"  # ganti dengan input yang mau kamu uji

if plant == "Spathiphyllum":
    print("Yes - Spathiphyllum is the best plant ever!")
elif plant == "spathiphyllum":
    print("No, I want a big Spathiphyllum!")
else:
    print("Spathiphyllum! Not " + plant + "!")

No, I want a big Spathiphyllum!

In [87]:
income = 98787
tax = 0

if income < 85528:
    tax = 0.18 * income - 556.2
else:
    tax = 14839.2 + 0.32 * (income - 85528)

if tax < 0:
    tax = 0

tax = round(tax, 0)

print("The tax is:", tax, "thalers")

The tax is: 19082.0 thalers

In [88]:
year = 888

if year < 1582:
    print("Not within the Gregorian calender period")
else :
    if year % 4 !=0 :
        print("common year")
    elif year % 100 !=0:
        print ("leap year")
    elif year % 400 !=0:
        print("common year")
    else : 
        print("leap year")

Not within the Gregorian calender period

In [89]:
x = 5
y = 10
z = 8

print(x > y)
print(y > z)

False
True

In [90]:
x, y, z = 5, 10, 8

print(x > z)
print((y - 5) == x)

False
True

In [91]:
x, y, z = 5, 10, 8
x, y, z = z, y, x

print(x > z)
print((y - 5) == x)

True
False

In [92]:
x = 10

if x == 10:
    print(x == 10)

if x > 5:
    print(x > 5)

if x < 10:
    print(x < 10)
else:
    print("else")

True
True
else

In [93]:
x = "1"

if x == 1:
    print("one")
elif x == "1":
    if int(x) > 1:
        print("two")
    elif int(x) < 1:
        print("three")
    else:
        print("four")
        
if int(x) == 1:
    print("five")
else:
    print("six")

four
five

In [94]:
x = 1
y = 1.0
z = "1"

if x == y:
    print("one")
if y == z:
    print("two")
    print(x)
    print(y)
elif x == y:
    print("three")
else:
    print("four")

one
three

In [95]:
i = 1

while i<10:
    print(i**2)
    i = i+2

1
9
25
49
81

In [96]:
for i in range(5):
    print(i)

0
1
2
3
4

In [97]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

In [98]:
for i in range(2,18,3):
    print(i)

2
5
8
11
14
17

In [99]:
for i in range(5):
    print(i)
else:
    print("masuk else")

0
1
2
3
4
masuk else

In [100]:
import time

for i in range(5):
    print(i," Missisipi")
    time.sleep(1)

0  Missisipi
1  Missisipi
2  Missisipi
3  Missisipi
4  Missisipi

In [101]:
for i in range (11):
    print(i, end=" ")
    if i==7:
        print(" masih dalam for")
        break

0 1 2 3 4 5 6 7  masih dalam for

In [102]:
# break - example

print("The break instruction:")
for i in range(1, 6):
    if i == 3:
        break
    print("Inside the loop.", i)
print("Outside the loop.")

The break instruction:
Inside the loop. 1
Inside the loop. 2
Outside the loop.

In [103]:
numbers = [10, 25, 8, 17, 1]  # daftar input, 1 berarti berhenti
largestNumber = -99999999
counter = 0

for number in numbers:
    if number == 1:
        break
    counter += 1
    if number > largestNumber:
        largestNumber = number

if counter != 0:
    print("The largest number is", largestNumber)
else:
    print("You haven't entered any number.")

The largest number is 25

In [104]:
for i in range (1,11):
    if i % 2 ==0:
        continue
    print(i, end="\t")

1	3	5	7	9

In [105]:
for i in range (1,11):
    if i % 2 ==0:
        print(i)

2
4
6
8
10

In [106]:
# continue - example

print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue
    print("Inside the loop.", i)
print("Outside the loop.")

The continue instruction:
Inside the loop. 1
Inside the loop. 2
Inside the loop. 4
Inside the loop. 5
Outside the loop.

In [107]:
inputs = [10, 25, 8, 56, -1]  # -1 artinya berhenti
i = 0  # indeks untuk mengambil input dari daftar

largestNumber = -99999999
counter = 0

while True:
    number = inputs[i]  # ambil angka dari daftar
    print("Enter a number or type -1 to end program:", number)  # tampilkan seolah input user
    i += 1

    if number == -1:
        break

    counter += 1
    if number > largestNumber:
        largestNumber = number

if counter:
    print("The largest number is", largestNumber)
else:
    print("You haven't entered any number.")

Enter a number or type -1 to end program: 10
Enter a number or type -1 to end program: 25
Enter a number or type -1 to end program: 8
Enter a number or type -1 to end program: 56
Enter a number or type -1 to end program: -1
The largest number is 56

In [108]:
inputs = ["python", "loop", "chupacabra"]
i = 0

while True:
    word = inputs[i]
    print("Enter a word:", word)  # tampilkan seolah-olah user mengetik
    i += 1
    if word == "chupacabra":
        break

print("You've successfully left the loop.")

Enter a word: python
Enter a word: loop
Enter a word: chupacabra
You've successfully left the loop.

In [109]:
# Prompt the user to enter a word
# and assign it to the userWord variable.
userWord = "informatika"

for letter in userWord:
    if letter.upper() in ['A','I','U','E','O']:
        continue
    
    print(letter.upper())

N
F
R
M
T
K

In [110]:
blocks = 1
current_block = 0
height = 0
i=0

while i<blocks:
    height += 1
    current_block += height
    # print(i,current_block)
    if current_block> blocks:
        break

height -= 1

print("The height of the pyramid:", height)

The height of the pyramid: 1

In [111]:
for i in range(1, 11):
    if i % 2 !=0:
        print(i,end=' ')

1 3 5 7 9

In [112]:
x=1
while x<11:
    if x % 2 !=0:
        print(x,end=' ')
    x +=1

1 3 5 7 9

In [113]:
for ch in "ratna.lestari@ugm.ac.id":
    if ch == "@":
        break
    print(ch,end=' ')

r a t n a . l e s t a r i

In [114]:
for digit in "0165031806510":
    if digit == "0": 
        print ("x")
        continue
    print(digit)

x
1
6
5
x
3
1
8
x
6
5
1
x

In [115]:
n = 3

while n > 0:
    print(n + 1)
    n -= 1
else:
    print(n)

4
3
2
0

In [116]:
n = range(4)

for num in n:
    print(num - 1)
else:
    print(num)

-1
0
1
2
3

In [117]:
for i in range(0, 6, 3):
    print(i)

0
3

In [118]:
x = 1
y = 0

z = ((x == y) and (x == y)) or not(x == y)
print(not(z))

False

In [119]:
var1=1
var2=2
var3=3
var4=4
var5=5

#bandingkan

var=[1,2,3,4,5]
print(var)

[1, 2, 3, 4, 5]

In [120]:
num = [2,3,4,5]
print(num)
print(num[2])
print(num[-1])

[2, 3, 4, 5]
4
5

In [121]:
lst = [100,200,300,400,500]
print(lst[-1])
print(lst[-2])
print(lst[-5])

print("\n")
print(lst[4])
print(lst[3])
print(lst[0])

500
400
100


500
400
100

In [122]:
lst=[4,1,6,9,10,8]

print(lst[0:3])
print(lst[1:3])

print(lst[-3:])
print(lst[:-3])

print(lst[:])

[4, 1, 6]
[1, 6]
[9, 10, 8]
[4, 1, 6]
[4, 1, 6, 9, 10, 8]

In [123]:
num=[2,3,4]
num[0],num[1] = num[1], num[0]
print(num)

[3, 2, 4]

In [124]:
myList = [8, 10, 6, 2, 4] # list to sort
swapped = True # it's a little fake - we need it to enter the while loop

while swapped:
    swapped = False # no swaps so far
    for i in range(len(myList) - 1):
        if myList[i] > myList[i + 1]:
            swapped = True # swap occured!
            myList[i], myList[i + 1] = myList[i + 1], myList[i]

print(myList)

[2, 4, 6, 8, 10]

In [125]:
hatList = [1, 2, 3, 4, 5]  # This is an existing list of numbers hidden in the hat.

# Step 1: write a line of code that prompts the user
# to replace the middle number with an integer number entered by the user.

# Step 2: write a line of code here that removes the last element from the list.

# Step 3: write a line of code here that prints the length of the existing list.

print(hatList)

[1, 2, 3, 4, 5]

In [126]:
buah=["Salak","Mangga","Apel"]
buah.append("Jeruk")
print(buah)

['Salak', 'Mangga', 'Apel', 'Jeruk']

In [127]:
myList = [] # creating an empty list

for i in range(5):
    myList.append(i + 1)

print(myList)

[1, 2, 3, 4, 5]

In [128]:
buah = ["durian", "mangga", "apel"]
buah.insert(1,"kiwi")
print (buah)

['durian', 'kiwi', 'mangga', 'apel']

In [129]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###

numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

#

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]

In [130]:
num = [5,4,3,2,1]

del num[1]
print(num)

[5, 3, 2, 1]

In [153]:
# step 1
beatles = []
print("Step 1:", beatles)

# step 2
beatles.append("John Lennon")
beatles.append("Paul McCartney")
beatles.append("George Harrison")
print("Step 2:", beatles)

# step 3
for i in range(2):
    nama = input("Masukkan anggota baru = ")
    beatles.append(nama)
print("Step 3:", beatles)

# step 4
del beatles[-2:]
print("Step 4:", beatles)

# step 5
beatles.insert(0,"Ringo Starr")
print("Step 5:", beatles)


# testing list legth
print("The Fab", len(beatles))

Step 1: []
Step 2: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step 3: ['John Lennon', 'Paul McCartney', 'George Harrison', '', '']
Step 4: ['John Lennon', 'Paul McCartney', 'George Harrison']
Step 5: ['Ringo Starr', 'John Lennon', 'Paul McCartney', 'George Harrison']
The Fab 4

In [132]:
lst = [5, 1, 3, 2, 10]
print(lst)
lst.sort()
print(lst)
lst.reverse()
print(lst)

[5, 1, 3, 2, 10]
[1, 2, 3, 5, 10]
[10, 5, 3, 2, 1]

In [133]:
vehiclesOne = ['car', 'bicycle', 'motor']
print(vehiclesOne) # outputs: ['car', 'bicycle', 'motor']

vehiclesTwo = vehiclesOne
del vehiclesOne[0] # deletes 'car'
print(vehiclesTwo) # outputs: ['bicycle', 'motor']
print(vehiclesOne)

['car', 'bicycle', 'motor']
['bicycle', 'motor']
['bicycle', 'motor']

In [134]:
vehiclesOne = ['car', 'bicycle', 'motor']
print(vehiclesOne) # outputs: ['car', 'bicycle', 'motor']

vehiclesTwo = vehiclesOne[:]
del vehiclesOne[0] # deletes 'car'
print(vehiclesTwo) # outputs: ['bicycle', 'motor']
print(vehiclesOne)

['car', 'bicycle', 'motor']
['car', 'bicycle', 'motor']
['bicycle', 'motor']

In [135]:
nama = ["Ana","Budi","Citra"]
kata_kunci = "Budi"

print(kata_kunci not in nama)

if kata_kunci in nama:
    print("Nama "+kata_kunci+" ada di list")

False
Nama Budi ada di list

In [136]:
for i in range(10):
    print(i, end=" ")
    
print()
for i in range(1,7):
    print(i, end=" ")
    
print()
for i in range(1,10,2):
    print(i, end=" ")
    
print()
for i in range(10,-10,-2):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6
1 3 5 7 9
10 8 6 4 2 0 -2 -4 -6 -8

In [137]:
for i in range(1, 11):
    if i%2 != 0:
        print(i, end=" ")

1 3 5 7 9

In [138]:
x = 1
while x < 11:
    if x%2!=0:
        print(x, end=" ")
    x += 1

1 3 5 7 9

In [139]:
for ch in "john.smith@pythoninstitute.org":
    if ch == "@":
        break
    print(ch,end="")

john.smith

In [140]:
for digit in "0165031806510":
    if digit == "0":
        print("x",end="")
        continue
    print(digit,end="")

x165x318x651x

In [141]:
myList = [10, 1, 8, 3, 5]
total = 0

for i in range(len(myList)):
    total += myList[i]

print(total)

27

In [142]:
#squares = [x ** 2 for x in range(10)]
#print (squares)

squares = []
for x in range(10):
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [143]:
twos = [2 ** i for i in range(8)]
print(twos)

[1, 2, 4, 8, 16, 32, 64, 128]

In [144]:
squares = []
odds = [x for x in squares if x % 2 != 0 ]
print (odds)

# sama dengan
odds = []
for x in squares:
    if x % 2 != 0:
        odds.append(x)
print (odds)

[]
[]

In [145]:
# Contoh List di dalam List
i = [2,3,4,5]
print(i[0])

k = [[3,5,1],[6,1,8],[9,10,4]]
print(k)
print(k[1])
print(k[1][0])
print(k[-1][-2:])

2
[[3, 5, 1], [6, 1, 8], [9, 10, 4]]
[6, 1, 8]
6
[10, 4]

In [146]:
EMPTY = "-"
board = []

for i in range(8):
    row = [EMPTY for i in range(8)] #membuat satu list
    board.append(row) #membuat 8 list
    print(row)
#print(board)

['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']
['-', '-', '-', '-', '-', '-', '-', '-']

In [147]:
EMPTY = "-"
LIMALIMA = "LIMA"
ROOK = "ROOK"
KNIGHT = "KNIGHT"
PAWN = "PAWN"
board = []

for i in range(8):
    row = [EMPTY for i in range(8)]
    board.append(row)

#isi dengan ROOK
board[0][0] = ROOK
board[5][5] = LIMALIMA
board[0][7] = ROOK
board[7][0] = ROOK
board[7][7] = ROOK

#isi dengan KNIGHT
board[4][2] = KNIGHT

#isi dengan PAWN
board[3][4] = PAWN


print(board)
print("\n")

[['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', 'PAWN', '-', '-', '-'], ['-', '-', 'KNIGHT', '-', '-', '-', '-', '-'], ['-', '-', '-', '-', '-', 'LIMA', '-', '-'], ['-', '-', '-', '-', '-', '-', '-', '-'], ['ROOK', '-', '-', '-', '-', '-', '-', 'ROOK']]

In [148]:
temps = [[0.0 for h in range(2)] for d in range(4)]
print (temps)

[[0.0, 0.0], [0.0, 0.0], [0.0, 0.0], [0.0, 0.0]]

In [149]:
temps = [[0.0 for h in range(24)] for d in range(31)]

# 1. the monthly average noon temperature
sum = 0.0

for day in temps:
    sum += day[11]

average = sum / 31

print("Average temperature at noon:", average)

# 2. the highest temperature during the whole month 
highest = -100.0

for day in temps:
    for temp in day:
        if temp > highest:
            highest = temp

print("The highest temperature was:", highest)

# 3.count the days when the temperature at noon was at least 20 â„ƒ
hotDays = 0

for day in temps:
    if day[11] > 20.0:
        hotDays += 1

print(hotDays, "days were hot.")

Average temperature at noon: 0.0
The highest temperature was: 0.0
0 days were hot.

In [150]:
rooms = [[[False for r in range(2)] for f in range(3)] for t in range(4)]
print (rooms)

[[[False, False], [False, False], [False, False]], [[False, False], [False, False], [False, False]], [[False, False], [False, False], [False, False]], [[False, False], [False, False], [False, False]]]

In [151]:
rooms = [[[False for r in range(20)] for f in range(15)] for t in range(3)]

rooms[1][9][13] = True
rooms[0][4][1] = False

print(rooms)

vacancy = 0

for roomNumber in range(20):
    if not rooms[2][14][roomNumber]:
        vacancy += 1
        
print(roomNumber)

[[[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]]]
19